.chatbot{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}

.chatbot-container {
  display: flex;
  height: 100%;
  width:60%;
  justify-content: center;
}

form{
  width:100%;
}

.chat-container {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  overflow: hidden;
  display: flex;
  float: right;
  flex-direction: column;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  max-width: 88%;
}

.user-message {
  background-color: #e1ffc7;
  align-self: flex-end;
  align-content: right;
  text-align: right;
}

.bot-message {
  background-color: #f1f1f1;
  align-self: flex-start;
  align-content: left;
  text-align: left;
}

.input-box {
  display: flex;
  border-top: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  width:100%;
}

.input-buttons {
  display: flex;
  width: fit-content;
  margin-right: 10px;
  float:right;
  flex-direction: row;
}

.queryDiv{
  width:80%;
  margin-right:10px;
}

.attachment-box{
  width: fit-content;
  margin-left: 10px;
  align-content: right;
  text-align: right;
}

.right{
  align-self: flex-start;
  align-content: right;
  text-align: right;
  width:88%
}

.attachment-button,
.microphone-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  width: fit-content;
}

.microphone-box{
  max-width: fit-content;
  margin-left: 10px;
  width:80%;
}

.inputText{
  height: 100%;
  margin-right: 10px;
  width:100%;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: none;
  outline: none;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #0056b3;
}

.gpt-message {
  padding: 10px;
  background-color: #eaeaea;
  border-radius: 10px;
}